.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }
}
