.nav {
  display: flex;
  gap: 10px;
}

.link {
  position: relative;
   background-image: linear-gradient(to right, tomato, blueviolet, deeppink, tomato );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: 600;
  padding: 6px;
  margin: 0 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 68, 0, 0.788);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus {
    color: transparent;
     background-image: linear-gradient(to left, tomato, blueviolet, deeppink, tomato );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.active {
    background-image: linear-gradient(to right, tomato, blueviolet, deeppink, tomato );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.active::after {
    transform: scaleX(1);
  }

  &.active:hover {
    background-image: linear-gradient(to left, tomato, blueviolet, deeppink, tomato );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
