.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 260px;
  justify-content: space-between;
  background-color: beige;
  padding: 0.6em;
  border-radius: 1em;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 7px -3px 4px 2px rgba(245, 245, 220, 0.048);
}
.container-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 0.6em;
  cursor: pointer;
  flex-wrap: nowrap;
  width: 180px;
}
.icon {
  color: black;
  flex-shrink: 0;
}
.contact-data {
  display: block;
  margin: 0;
  font-weight: 500;
  color: #333;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  position: relative;

  &:hover .scrolling-text {
    animation: marquee 4s linear infinite;
  }
}
.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  transform: translate(0, 0);
  will-change: transform;
}
.btn-delete,
.btn-cancel,
.btnSaveEdit {
  color: black;
  border: 1px solid grey;
  border-radius: 0.4em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease, scale 0.3s ease;
  scale: 1;
}
.btn-delete {
  flex-shrink: 0;
  margin-left: auto;
  padding: 4px;
}
.btn-delete:hover,
.btn-cancel:hover {
  background-color: #e05656;
  scale: 1.1;
}
.btnSaveEdit:not(:disabled):hover {
  background-color: #56e056;
  scale: 1.1;
}
.editContact {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 16px;
  position: relative;
}
.inputWrapper {
  position: relative;
}
.input {
  padding: 4px;
}
.inputError {
  border: 2px solid red;
}
.iconClear {
  position: absolute;
  color: red;
  opacity: 0.5;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.2s ease;
  &hover {
    opacity: 1;
  }
}
.error {
  position: absolute;
  color: red;
  bottom: -22px;
  left: 2px;
}
.editContainer {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
}
.editIcon {
  margin-left: 8px;
  font-size: 0.9em;
  color: #888;
  opacity: 0.6;
  transition: opacity 0.2s;
  pointer-events: none;
  flex-shrink: 0;
  &:hover {
    color: orangered;
    opacity: 1;
  }
}
.contact-item {
  cursor: pointer;
}
.contact-item:hover .editIcon {
  pointer-events: auto;
}
.btnEdit {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 50px;
}
.btnSaveEdit:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
.validIcon {
  color: rgb(13, 216, 13);
  margin-left: 4px;
  font-size: 1em;
}
.alert-red:hover {
  background-color: rgba(255, 0, 0, 0.87);
  color: white;
}
.alert-green:hover {
  background-color: rgba(42, 230, 35, 0.87);
  color: black;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
