#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.2em;
  text-align: left;
}

.react-confirm-alert-overlay {
  background: transparent;
}

.react-confirm-alert {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  width: 280px;
  background-color: beige;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  @media (min-width: 768px) {
    max-width: 500px;
  }
}

.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: red;
  text-align: center;
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  background-color: whitesmoke;
  color: red;
  border: 1px solid black;
  scale: 1;
}

.react-confirm-alert-button-group > button:nth-child(1):hover {
  scale: 1.155;
}

.react-confirm-alert-button-group > button:nth-child(2):hover {
  scale: 1.15;
}

.react-confirm-alert-button-group > button:nth-child(3):hover {
  scale: 1.15;
}
